* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #b2c8df;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 30px;
}
.counter {
  font-size: 50px;
}
.btn-container {
  display: flex;
  gap: 1.5rem;
}
.btn {
  height: 5vh;
  width: 10vw;
  border-radius: 10px;
}

@media screen and (max-width: 992px) {
  .btn {
    width: 20vw;
  }
}
